{% extends "template.html" %}

{% block main %}

    <section class="card m-5">
        <header class="card-header">
            <h3>Adicionar Usuario</h3>
        </header>
        <div class="card-body">
            <form action="/usuario/salvar" method="post"> 
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" required name="nome" class="form-control">
                    <label>Email</label>
                    <input type="email" required name="email" class="form-control">
                    <label>Senha</label>
                    <input type="text" required name="senha" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </section>

   
{% endblock %}