{% extends "template.html" %}

{% block main %}

    <section class="card m-5">
        <header class="card-header">
            <h3>Adicionar Cliente</h3>
        </header>
        <div class="card-body">
            <form action="#" method="post"> 
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control">
                    <label>CPF</label>
                    <input type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div><!-- card-body -->
    </section><!-- card-->

   
{% endblock %}