{% extends "template.html" %}

{% block main %}

    <section class="card m-5">
        <header class="card-header">
            <h3>Categorias de Produtos</h3>
        </header>
        <div class="card-body">
            <a href="/categoria-produto/adicionar" class="btn btn-primary">Adicionar</a>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    {% for categoria in categorias %} 
                        <tr>
                            <td>{{ categoria.id }}</td>
                            <td>{{ categoria.descricao }}</td>
                            <td>
                                <a href="/categoria-produto/editar/{{categoria.id}}">Editar</a>
                                <a href="/categoria-produto/excluir/{{categoria.id}}">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

   
{% endblock %}